PORT=8080
ENVIRONMENT=dev
DB_USER=squiggle
DB_PASSWORD=changeme
DB_NAME=squiggle
DATABASE_URL=postgres://squiggle:changeme@postgres:5432/guestbook?sslmode=disable
OPENROUTER_KEY=sk-or-v1-xxxx
REDIS_URL=redis:6379
TURNSTILE_SECRET=0x4A
TURNSTILE_DEMO=1x0000000000000000000000000000000AA
