*
!.gitignore
!go.mod
!go.sum
!.github
!.github/*

!Dockerfile
!docker-compose.yml
!.env.sample

!sql
!sql/init.sql
!sql/*.go

!mock
!mock/index.html

!cmd
!cmd/main.go
!internal
!internal/config
!internal/config/config.go

!internal/server
!internal/server/*.go

!README.md
