package templates


templ Admin(title string) {
  @Base(title) {
  <div class="horizontal_container">
  		<a href="/" class="horizontal_container" style="text-decoration:none;">
  			<img src="https://sakura.rex.wf/linear/squiggle?size=192" style="width:24px;height:24px">
		  	<p>squiggle</p>
	     </a>


		<a href="/admin/logout" style="text-decoration:none; color:#555; margin-left: 10px;">logout</a>
  </div>
  <div class="container" style="color: #eee;">
  this is admin page
  </div>
  }
}
