package templates


templ Admin(title string) {
  @Base(title) {
  <a href="/" class="horizontal_container" style="text-decoration:none;">
  			<img src="https://sakura.rex.wf/linear/squiggle?size=192" style="width:24px;height:24px">
		  	<p>squiggle</p>
	     </a>
  <div class="container" style="color: #eee;">
  this is admin page
  </div>
  }
}
