package templates


templ Home(title string) {
  @Base(title) {
  <div class="horizontal_container">
  	<img src="https://sakura.rex.wf/linear/squiggle?size=192" style="width:24px;height:24px">
  	<p>squiggle</p>
  </div>
  <div class="container">
  <p>small, secure, self hosted llm moderated guestbook. [part of <a class="link" href="https://floraorg.github.io">flora</a> | <a class="link" href="https://github.com/namishh/squiggle">source code</a> ]</p>

  </div>
  <br>
  <a class="admin" href="/vault">ADMIN</a>
  }
}
